django_api_accretion/.env
django_api_accretion/.env-prod
django_api_accretion/django_api_accretion/media
django_api_accretion/proxy/nginx_error_logs/access.log
django_api_accretion/proxy/nginx_error_logs/error.log
django_api_accretion/proxy/nginx_error_logs
accretion-backend-deployment.pem
