# Git
.git
.gitignore

# Docker
.docker

# Python
django_api_accretion/__pycache__/
django_api_accretion/*/__pycache__/
django_api_accretion/*/*/__pycache__/
django_api_accretion/*/*/*/__pycache__/
django_api_accretion/.env/

# Local PostgreSQL data
data/

# media and static files
django_api_accretion/media