[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
gunicorn = "*"
django-ses = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
gunicorn = "/home/ubuntu/.local/share/virtualenvs/django_api_accretion-vLmvWcjH/bin/gunicorn"
